:root{
    --white: #F6F6F6;
    --blue: #7E8ACF;
    --gold: #FCC967;
    --grey: #56504D;
    --black: #000000;
}

*{
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    text-decoration: none
}

.inscription-case{
    justify-content: center;
    align-items: center;
    display: flex;
}

fieldset{
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 100px;
    padding: 100px;
    background-color: #7E8ACF;
}

.control-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}