:root{
    --white: #F6F6F6;
    --blue: #7E8ACF;
    --gold: #FCC967;
    --grey: #56504D;
    --black: #000000;
}

body{
    font-family: 'Spartan', serif;
    font-weight: lighter;
}

.flux{
    margin: 0 6%;
}



.motcletop{
    display: flex;
    justify-content: end;

}

.motcletop div{
    padding: 10px;
}



.motcletop div h4{
    padding: 7px;
    border: solid 1px #7E8ACF;
    border-radius: 20px;
    color: var(--blue);
}